*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

.button{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    margin: 10px;

}


#green{
    background-color: green;
}

#red{
    background-color: red;
}
#blue{
    background-color: blue;
}

#yellow{
    background-color: yellow;
}
