
*{

    margin: 0;
    padding: 0;

}

h1{
    background-color: #081b31;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 5rem;
}

.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover{
    opacity: 0.5;/*   it is used to blar the image  */
    cursor: pointer;
    background-color: #212121;
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top:5rem ;
}

.score-board{
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1.5rem;
   margin-top: 3rem;
}


#user-score{
    font-size: 2rem;
}

#comp-score{
    font-size: 2rem;
}

.msg-container{
    display: flex;
    justify-content: center;
}

.score{
    margin: 2rem;
}

 #msg{

    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;

    color:white;
    background-color:black;
 }
